<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Image</th>
    <th>Pokedex Number</th>
    <% if show_weakness_column %>
      <th>Weaknesses</th>
    <% end %>
    <th>Set free</th>
  </tr>
  <% pokemons.each do |pokemon| %>
    <tr>
      <td><a href=<%= "/pokemons/#{pokemon.id}" %>><%= pokemon.id %></a></td>
      <td><%= pokemon.name %></td>
      <td><img src="<%= pokemon.image_url %>"></td>
      <td><%= pokemon.pokedex_number %></td>
      <% if show_weakness_column %>
        <td><%= pokemon.weakness_type %></td>
      <% end %>
      <td>
        <form method="POST" action="/pokemons/<%=pokemon.id%>">
          <input type="hidden" name="_method" value="delete">
          <button type="submit">Set free</button>
        </form>
      </td>
    </tr>
  <% end %>
</table>
